* {
    padding: 0;
    margin: 0;
    font-family: 'Manrope', sans-serif;
    font-family: 'Slabo 27px', serif;
}
#homePage {
    margin: 80px 0px 0px 4px;
    background-color: blue;
    color:azure;
    width:fit-content;
    padding:10px 5px;
    cursor:pointer;
    border-radius:8px;
    display:none;
}
#about {
    background: linear-gradient(to right, beige, azure);
    padding: 30px 20px;
    border-radius: 15px;
    margin-right: 15px; 
    margin-bottom: 25px; 
}
.vertical2{
    width: 20px;
    height: 350px;
    background: linear-gradient(to top, red, green, blue);
    margin-right: 50px;
}
body{
    background: azure;
}
.container {
    width: 100%;
    background-color: azure;
}
h2 span{
    color: blue;
    cursor: pointer;
}
h2{
    cursor: pointer;
    text-decoration: none;
}
ul li{
    text-decoration-style: none;
    list-style-type: none;
    padding: 5px 10px;
    background-color:blue; 
    color: azure;
    margin-left: 10px;
    border-radius: 2px;
} 
.header{
    display: flex;
    justify-content: space-between;
    background-color: azure;
    color: black;
    margin: 10px 7px;
}

ul {
    display: flex;
    margin-left: 80px;    
}
img li{
    width: 200px;
    height: 200px;
    left: 0;
    border-radius:10px;
    m
}
img li:hover{
    width: 220px;
}
.content1{
    font-family: 'Manrope', sans-serif;
    font-family: 'Slabo 27px', serif;
    background-color: beige;
    display: flex;
    margin-top: 40px;
    padding: 5px 10px 5px 70px;
    border-radius:15px;
    box-shadow: 5px 10px 15px grey;
}
.content1 h3{
    margin: 40px 10px;
}
.vertical{
    width: 9px;
    height: 520px;
    background: linear-gradient(to top, red, green, blue);
    margin-right: 50px;
}
.content1 p {
    margin-top: 50px;
}
#mySkills{
    margin: 40px 0px 50px 450px;
}
#welcome{
    margin: 40px 0px 40px 420px;
    animation: intro 4s;
}
@keyframes intro{
    from{margin-bottom:40%;}
    to{margin-bottom:0px;}
}
.skills img {
    width: 90px;
    height: 100px;
}
.skills{
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
}
.footer{
    width: 100%;
    background-color: red;
    color:white;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    position:fixed;
    transition: 2s;
}
#copyright p{
    margin: 40px 0px 40px 400px;
    color: grey;
    font-size: 0.7rem;
}
.social-links{
    margin: 30px 0px 0px 450px;
}
.social-links img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

h4{
    color: blue;
    margin: 0px 0px 30px 18px;
}
#countdown {
    font-size:3rem;
    padding-left:250px;
}
.launch {
    font-size:3rem;
    padding-left:310px;
    color:black;
    font-weight:600;
    margin:50px;
}
#profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    animation: profile 5s reverse ;
    margin-left:100px;
}
@keyframes profile {
    from{
        opacity: .8;
    }
    to{
        width: 120px;
        height: 125px;
        opacity: 0;
    }
}
.imageParagraph {
    display: flex;
    flex-direction: column;
}


/* media queries for mobile phone*/

@media all and ( max-width: 380px ) {

#profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.imageParagraph {
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: azure;
    color: black;   
}
#copyright p{
    margin: 40px 0px 40px 130px;
    font-size: 0.5rem;
    color: grey;
}
.social-links{
    margin: 30px 0px 0px 150px;
}
.social-links img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
h4{
    color: blue;
    margin: 0px 0px 30px 0px;
}
ul {
    display: flex;
    margin-left: 80px;    
}
img li{
    width: 200px;
    height: 200px;
    left: 0;
    border-radius:10px;
    m
}
img li:hover{
    width: 220px;
}
.content1{
    font-family: 'Manrope', sans-serif;
    font-family: 'Slabo 27px', serif;
    background-color: blanchedalmond;
    display: flex;
    margin-top: 40px;
    padding-left: 20px;
    border-radius:15px;

    animation: introduction 6s;
    
}
@keyframes introduction {
    from{margin-bottom: 40%;}
    to{margin-bottom: 0px;}
}
.content1 h3{
    margin: 40px 10px;
}
.vertical{
    width: 6px;
    height: 335px;
    background: linear-gradient(to top, red, green, blue);
    margin-right: 10px;
}
.content1 p {
    margin-top: 38px;
}
#mySkills{
    margin: 40px 0px 10px 140px;
}
#welcome{
    margin: 40px 0px 40px 120px;
    animation: introduction 4s;
}
.skills img {
    width: 60px;
    height: 60px;
}
.skills{
    margin-left: 5px;
}
.footer{
    width: 100%;
    background-color: red;
    color:white;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-top: 20px;
}
#countdown {
    font-size:1.5rem;
    padding-left:55px;
}
.launch {
    font-size:1.5rem;
    padding-left:80px;
    color:blue;
    font-weight:600;
    margin:20px;
}
.vertical2{
    width: 15px;
    height: 620px;
    background: linear-gradient(to top, red, green, blue);
    margin-right: 20px;
}

   
}

