*{
    padding:0;
    margin:0;
    
}
img {
    width:100%;
    height: 60px;
}
body {
    background-color: #1d3345;
}
.container{
    display:flex;
    justify-content:space-between;
    background-color:#1d3345;
}
.resetBtn {
    margin: 30px 0px;
    padding:10px;
    background-color:red;
    color:azure;
    border: none;
    border-radius:5px;
    transition:2s?
    font-size:2.5rem;
}
.game{
    padding: 25px 25px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    margin:50px 30px;
}
.row{
    display:flex;
}

.box{         
    padding:5px;
    width: 200px;
    height:200px; 
    border: 2px solid white ; 
    font-size: 4rem;      
    font-weight: 800; 
    align-items:center ;  
    justify-content:center;  
    display:flex;
    color:red;
}
#displayMessage {
    background-color:grey;
    border-radius:5px;
    color: green;
    font-weight:700;
    overflow:hidden;
    padding:5px 0px 5px 4px;
    opacity:0;
    font-size:2.5rem;
}
#displayMessage2 {
    height:fit-content;
    margin: 30px 0px;
    padding:10px;
    background-color:blue;
    color:azure;
    border: none;
    border-radius:5px;
    opacity:0;
    font-size:2.5rem;
}
.subScoreDiv2{
        display:flex;
        flex-direction: column;
    
    }
 .score2 h1 {
        margin-left: 30px;
        color: grey;
        font-size:4rem;
        margin-bottom:40px;
    }
    .subScoreDiv2 div {
        font-size:4rem;
        font-weight:700;
        padding:20px 40px;
    }
.score{
    display:none;
}
.score2{
    margin:50px 5px;
}
#buttons{
    margin:50px 30px;
}


/* adding media queries for mobile devices*/

@media all and (max-width : 380px){
    
    .container{
        flex-direction:column;
        font-size:1rem;
    }
    .game{
        padding:50px 0px 0px 50px;
    }
    .box{
        width:75px;
        height:75px;
    }
    body{
        background-color: #1d3345;
    }
    #buttons {
        display:flex;
        justify-content:space-between;
    }
    #displayMessage {
        height: fit-content;
        margin-top:29px;
        padding: 9px 5px;
        font-size:1rem;
    }
    #displayMessage{
        font-size:1rem;
    }
    img {
        height:75;
    }
    .subScoreDiv{
        display:flex;
        justify-content: space-between;
    }
    h1 {
        margin-left: 40%;
    }
    .subScoreDiv div {
        font-size:2.8rem;
        color:;
        font-weight:700;
        padding:10px 30px;
    }
    .score2{
        display:none;
    }
    .score{
        display:block;
    }
    
}
