* {
    padding: 0;
    margin: 0;
    font-family: 'Manrope', sans-serif;
    font-family: 'Slabo 27px', serif;
}
body {
    background: #c7c6bf;
}
.content1 {
    display:flex;
    justify-content:space-around;
    margin:30px 1px;
    overflow:hidden;
}
.projectTitles {
    display: flex;
    justify-content: space-between;
    padding: 0px 5px;
}
.projectTitles h3 {
    font-size:2rem;
}
.projectImages {
     
}
.projectImages img {
    width: 130px;
    height: 130px;
    border-radius: 8px;
}
.backButton {
    padding: 10px 10px;
    background-color: red;
    color: azure;
    font-size:1.5rem;
    width: fit-content;
    border-radius:0px 5px 5px 5px ;
}

/* media queries for mobile phones*/

@media all and ( max-width : 401px ) {

.container {
    padding: 30px 10px;
}
.content1{
    flex-direction:column;
}
.projectTitles {
    margin-left:35%;
    padding: 0px 5px;
}    
.projectTitles h3 {
    font-size:1rem;
}
.projectImages {
    padding: 20px 5px;
    margin-left:19%;
}
.projectImages img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
}
.backButton {
    padding: 10px 10px;
    background-color: blue;
    color: azure;
    font-size: 1rem;
    width: fit-content;
    border-radius:0px 5px 5px 5px ;
}
    
}
